@import './fonts.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    height: 100vh;
    width: 100vw;
    background:  rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
}

.Card{
    max-width: 41%;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    
}


.card-header{
    padding: 10px;
    background-color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
}

.card-header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p, a{
        margin: 0 10px;
    }

    img:nth-child(2){
        width: 20px;
    }


    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        img{
            border-radius: 30px;
        }
        
       &-name{
           text-decoration: none;
           font-size: 18px;
       }

       &-patrocinado{
           display: flex;
           flex-direction: row;
           p{
            font-size: 13px;
            color: #606770;
           }

           img{
               width: 10px;
               height: 15px;
           }
       }
    }
}

.comments{
    padding: 15px;
    background-color: #FFF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    hr{
        border-color: rgba(0, 0, 0, 0.1);
    }


    &-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 7px 0;

        img{
            width: 27px;
        }

        img:nth-child(1){
            position: relative;
            margin-right: -6px;
            z-index: 2;
        }
        
        &-share{
            display: flex;
            flex-direction: row;

            p{
                margin: 5px;
            }
        }

        &-like{
            display: flex;
            flex-direction: row;
            align-items: center;

            p{
                margin: 5px;
            }
        }

    }
    
    &-comentario{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 7px 0;

        img{
            width: 20px;
        }

        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 25px;
            cursor: pointer;

            p{
                margin: 0 7px;
            }
        }

        div:hover{
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 6px;
        }


    }

    &-users{
        
        &-input{
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            margin-top: 20px;
            
            input{
                font-size: 15px;
                width: 90%;
                padding: 13px;
                border-radius: 20px;
                outline: none;
                border: none;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        img{
            border-radius: 35px;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

        &-list{
            display: flex;
            padding: 7px 0;
            
            &-container{
                #curtir{
                    display: inline-block;
                    font-size: 14px;
                    margin-left: 15px;
                    padding: 2px;
                    color: #606770;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            &-msg{
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                margin-left: 10px;
    
                p:nth-child(1){
                    font-size: 15px;
                    font-weight: 500;
                }

            }
        }
    }
    


}

.Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img{
        width: 40px;
    }

    &-facebook{
        height: 40px;
        width: 40px;
        background-color: rgb(230, 230, 230);
        text-align: center;
        line-height: 44px;
        border-radius: 50%;
        color: gray;
    }

    &-messenger, &-options, &-notification{
        height: 40px;
        width: 40px;
        background-color: rgb(230, 230, 230);
        text-align: center;
        line-height: 49px;
        border-radius: 50%;     
    }

    &-right, &-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 15px;
    }

    &-left{
        div{
            margin: 0 7px;
        }
    }

    &-right{
        div{
            margin: 0 7px;
        }
    }
}

.Footer{
    height: 100px;
    background-color: #FFF;
    position: relative;

    p{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

.Feed{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 70px;
    
}
.MenuLeft{
    position: fixed;
    height: 100vh;
    max-width: 350px;
 
    
    
    p{
        display: inline-block;
        margin: 0 10px;
        font-size: 20px;
        text-align: center;
        transform: translate(0, -35%);
        cursor: pointer;
    }

    div{
        margin-bottom: 10px;
        margin-left: 15px;
        padding: 0 15px;
    }

    div:hover{
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

  
}

.MenuRight{
    position: fixed;
    right: 0;
    margin-right: 7px;
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
   

    &-story{
        height: 200px;
        min-width: 100px;
        border-radius: 10px;
        
        margin: 0 5px 5px 5px;
        display: flex;
        flex-direction: row;
    }

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
}

.PostFeed{
    background-color: #FFF;
    max-width: 41%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;

    &-midia{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        
        div{
            padding: 5px 12px;
        }
        div:hover{
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 10px;
        }

        p{
            display: inline-block;
            transform: translate(0, -44%);
            margin: 0 4px;
        }
    }

    hr{
        border-color: rgba(0, 0, 0, 0.05);
        
    }


    img{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        object-fit: cover;
    }

    input{
        height: 45px;
        width: 90%;
        padding: 12px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 17px;
        
    }
}

.modal{  
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &-container{
        background-color: #fff;
        color: #000;
        width: 35%;
        
        border-radius: 20px;

        
        &-content{
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            button{
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: rgb(0, 0, 255);
                width: 60%;
                height: 30px;
                color: #fff;
                font-size: 15px;
                margin: 10px 0;
            }
        }
        
        .close{
            background-color: transparent;
            border: none;
            outline: none;
            width: 30px;
            height: 30px;
            right: calc(-100% + 45px);
            top: 16px;
            cursor: pointer;
            display: flex;
            position: relative;
            align-items: center;

            &::before,
            &::after{
                content: '';
                position: absolute;
                width: 2.5px;
                height: 20px;
                background-color: #000;
            }
            &:before{
                transform: rotate(45deg);
            };
            &:after{
                transform: rotate(-45deg);
            }   
        }

    }
}

.inputUser{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;

    img{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        object-fit: cover;        
    }

    input{
        height: 45px;
        margin: 0 5px;
        width: 90%;
        padding: 15px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.05);
        font-size: 17px;
    }
}
